
.callData {
    position: fixed;
    bottom: 4%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99999;
    width: 25%;
    height: 30px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    transition: all .6s;
    transform: scale(1);
    opacity: 1;
}
